<div class="form-group">
  <input type="text" name="inputLine" placeholder="Input anything" [(ngModel)]="inputLine" style="text-align: center">
  <button type="button" class="btn btn-info" (click)="getDataBySearch(inputLine)">Search</button>
</div>

<!--*****************************************************************************-->
<!--                  version2-->

<!--<form [formGroup]="">-->
<!--  <div type="text" id="id" formControlName="id"></div>-->
<!--  <div type="text" id="value" formControlName="value"></div>-->
<!--  <table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <td *ngFor="let id" formControlName="id">id</td>-->
<!--      <td *ngFor="let value" formControlName="value">value</td>-->
<!--    </tr>-->
<!--    </thead>-->
<!--  </table>-->
<!--</form>-->

<!--<div>-->
<!--{{formGroup.value | json}}-->
<!--</div>-->


<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
<!--                  version3-->

<!--<table class="table table-bordered table-dark" cdk-table [dataSource]="dataFromServer">-->
<!--  <ng-container cdkColumnDef="id">-->
<!--    <th cdk-header-cell *cdkHeaderCellDef> ID </th>-->
<!--    <td cdk-cell *cdkCellDef="let dataFromServer">{{dataFromServer.id}}</td>-->
<!--  </ng-container>-->
<!--  <ng-container cdkColumnDef="value">-->
<!--    <th cdk-header-cell *cdkHeaderCellDef> Value </th>-->
<!--    <td cdk-cell *cdkCellDef="let dataFromServer">{{dataFromServer.value}}</td>-->
<!--  </ng-container>-->
<!--  <tr cdk-header-row *cdkHeaderRowDef="['id', 'value']"></tr>-->
<!--  <tr cdk-row *cdkRowDef="let rowFromTable; columns: ['id', 'value']" (click)="deletePosition(rowFromTable)">-->
<!--  </tr>-->
<!--</table>-->


<!--****************************************************************************-->
<!--                        version4-->

<!--<table class="table table-bordered table-dark">-->
<!--  <thead>-->
<!--  <th>ID</th>-->
<!--  <th>value</th>-->
<!--  </thead>-->
<!--  <tr *ngFor="let row of dataFromServer; index as i;" class="hover-highlight">-->
<!--    <td class="benchmark_name">-->
<!--      {{row.id}}-->
<!--    </td>-->
<!--    <td>-->
<!--      {{row.value}}-->
<!--    </td>-->
<!--    <td>-->
<!--      <button *ngIf="enableEdit && enableEditIndex == i" (click)="enableEdit=false">Cancel</button>-->
<!--      <button *ngIf="enableEdit && enableEditIndex == i" (click)="deletePosition($event, row)" type="submit">Accept</button>-->
<!--      <a [routerLink]="" class="table-row-action edit-action" *ngIf="!enableEdit" (click)="enableEditMethod($event, i)">-->
<!--        delete-->
<!--      </a>-->
<!--      <a [routerLink]="" class="table-row-action edit-action" *ngIf="!enableEdit" (click)="enableEditMethod($event, i)">-->
<!--        edit-->
<!--      </a>-->
<!--  </tr>-->
<!--</table>-->


<!--***********************************************************************************-->
<!--                                    version5-->


<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Month and other data for search</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center" id="idHeader">ID</th>
          <th class="text-center"id="valueHeader">Value</th>
          <th id="valueCreateButton">
            <input *ngIf="enableCreate" type="text" placeholder="create new record" style="text-align: center" [(ngModel)]="createLineRecord">
            <div class="form-group">
              <button class="btn btn-primary btn-sm" *ngIf="enableCreate" (click)="createNewPosition(createLineRecord)">Submit</button>
              <button class="btn btn-primary btn-sm" *ngIf="enableCreate" (click)="enableCreate=false">Cancel</button>
              <button type="button" class="btn btn-info" *ngIf="!enableCreate" (click)="enableCreateMethod()">Create</button>
            </div>
          </th>
        </tr>
        <tr *ngFor="let rowFromTable of dataFromServer; let id = index">
          <th>
            {{rowFromTable.id}}
          </th>
          <th class="allowEdit">
            <span [attr.contenteditable]="enableEdit&&enableEditIndex==id" (keyup)="tempValueForEdit(id, value, $event)">{{rowFromTable.value}}</span>
          </th>
            <span class="table-remove" *ngIf="!enableEdit">
              <button *ngIf="enableDel && enableDelIndex == id" (click)="deletePosition($event, rowFromTable)">Submit</button>
              <button *ngIf="enableDel && enableDelIndex == id" (click)="enableDel=false">Cancel</button>
              <button type="button" rounded="true" size="sm" class="my-0"
                      *ngIf="!enableDel" (click)="enableDelMethod(id)">Remove</button>
            </span>
            <span class="table-edit" *ngIf="!enableDel">
              <button class="btn btn-primary btn-sm" *ngIf="enableEdit && enableEditIndex == id" (click)="editValue(rowFromTable.id, tempEditValue)">Submit</button>
              <button class="btn btn-secondary btn-sm" *ngIf="enableEdit && enableEditIndex == id" (click)="enableEdit=false">Cancel</button>
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                      *ngIf="!enableEdit" (click)="enableEditMethod($event, id)">Edit</button>
            </span>
        </tr>
      </table>
    </div>
  </div>
</div>


<!--***************************************************************************************************************-->
<!--                            version 6-->

