.table-dark{
  background-color: black;
}
.btn-danger{
  background-color: unset;
  color: red;
}
th{
  text-align: center;
  font-size: xx-large;
  font-family: "Bitstream Charter";
}
td{
  display: table-cell;
  text-align: center;
}
.btn{
  color: black;
}
button{
  background-color: cadetblue;
}
#deleteRef{
  color: blue;
  background-color: crimson;
}
#saveRef{
  background-color: green;
  color: aquamarine;
}
#idHeader{
  resize: horizontal;
  border: 1px solid;
  overflow: auto;
}
#valueHeader{
  resize: horizontal;
  border: 1px solid;
  overflow: auto;
}
#valueCreateButton{
  min-width: 150px;
}
