.table-dark{
  background-color: black;
}
.btn-danger{
  background-color: unset;
  color: red;
}
th{
  text-align: center;
  font-size: xx-large;
  font-family: "Bitstream Charter";
}
td{
  display: table-cell;
  text-align: center;
}
.btn{
  color: aqua;
}
button{
  background-color: cadetblue;
}
#deleteRef{
  color: blue;
  background-color: crimson;
}
#saveRef{
  background-color: green;
  color: aquamarine;
}
